.header > div {
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.plug {
    width: 174px;
}
.logo-container {
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container img {
    font-size: 15px
}
.logo-container span {
    display: block;
    margin-left: 20px;
    color: #616161;
}
.header nav {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292929
}
.header nav a:first-of-type {
    margin-right: 80px;
}
@media screen and (max-width: 1250px) {
    .plug {
        width: 0;
    }
}
@media screen and (max-width: 1000px) {
    .logo-container span {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .header nav a:first-of-type {
        margin-right: 40px;
    }
}