.header {
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    height: 100px;
    user-select: none;
}
.header > nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.header nav {
    font-size: 18px;
}