.header > div {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.plug {
    width: 40px;
}
.header img {
    font-size: 15px
}
.header nav {
    font-size: 18px;
    color: #161616
}
.header nav a:first-of-type {
    margin-right: 80px;
}
@media screen and (max-width: 1250px) {
    .plug {
        width: 0;
    }
}
@media screen and (max-width: 600px) {
    .header nav a:first-of-type {
        margin-right: 40px;
    }
}