.form {
    width: fit-content;
    margin: 50px auto 0;
}
.form label {
    display: block;
}
.form input[type=file], 
.form input[type=text]{
    margin: 5px 0 20px 0;
    padding: 5px;
    outline: none;
    width: 100%;
}
.form input[type=file] {
    padding: 0;
}
.form input[type=submit] {
    margin: 40px auto 0 auto;
    width: fit-content
}