.backdrop dialog {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    max-width: unset;
    max-height: 100%;
    padding: 0;
    border: none;
    background-color: rgb(0 0 0 / 20%);
    overflow-x: hidden;
}
.backdrop dialog > div {
    margin: 20px auto;
    width: 80%;
    padding: 31px 0;
    background-color: #ffffff;
    position: relative;
}
.close {
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.image-wrapper {
    text-align: center;
}
.metadata {
    margin: 20px auto 0 30px;
}
.metadata h1 {
    margin-bottom: 10px;
}
.metadata p {
    margin-bottom: 10px;
}
.metadata a {
    text-decoration: underline;
}
.tags {
    margin: 15px 0 30px 0 !important;
}
.tags span {
    display: inline-block;
    margin-right: 10px;
    background-color: #f2f2f2;
    padding: 8px 10px;
    border-radius: 5px;
}
.camera {
    margin-top: 20px
}